@model IEnumerable<ASM.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayLapHd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.MaNv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
