@model IEnumerable<ASM.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTenNv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dienthoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
